:root {
  --white: #fff;
  --black: #000;

  --fg: var(--white);
  --bg: var(--black);

  --pri: #4a85c9;

  --red-d: hsl(8, 100%, 40%);
  --red: hsl(8, 100%, 50%);
  --red-l: hsl(8, 100%, 60%);

  --green-d: hsl(128, 100%, 40%);
  --green: hsl(128, 100%, 50%);
  --green-l: hsl(128, 100%, 70%);

  --ss: 3rem;
  --sm: 6rem;
  --sl: 12rem;

  --rs: 0.15rem;
  --rm: 0.3rem;
  --rl: 0.5rem;
}

html {
  scroll-behavior: smooth;
  background: url('../img/minecraftBanner.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--black);
  font-family: system-ui, sans-serif;
  font-size: 16px;
  color: var(--fg);
  min-height: 100vh;
}

body {
  display: flex;
  flex-flow: column;
  gap: 4rem;
  margin: 4rem clamp(1rem, -0.5rem + 7.5vw, 4rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
span {
  max-width: 40em;
}

button {
  cursor: pointer;
  font-family: inherit;
}

button:disabled {
  cursor: initial;
}

img {
  vertical-align: top;
}

/* CUSTOM */

h1,
h2 {
  font-size: 2rem;
}

label {
  font-weight: bold;
}

.window {
  background-color: #0009;
  border-radius: 0.3rem;
  padding: 3rem clamp(2rem, 1rem + 5vw, 4rem);
}

#ChatSocket {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}

#ChatSocket h1 {
  margin: 0;
}

#ChatSocket label {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

#ChatSocket label > *,
#ChatSocket button {
  background-color: var(--bg);
  border: 1px solid #222;
  border-radius: 0.3rem;
  color: var(--fg);
  max-width: fit-content;
}

#ChatSocket label > * {
  padding: 0.5rem;
  height: 2.5em;
}

#ChatSocket input[type='text'] {
  min-width: 20em;
}

#ChatSocket textarea {
  max-width: 100%;
}

#ChatSocket button {
  border: 0;
  font-weight: bold;
  padding: 1em 1.5rem;
  transition: background 100ms, color 100ms;
}

#ChatSocket button:hover {
  background: #111;
}

#ChatSocket button:active {
  background: #333;
  transition: none;
}

#ChatSocket .inline {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.5rem;
}

#log {
  overflow-y: scroll;
  font-family: monospace;
  padding: 1rem;
  height: 70vh;
}
